# Python virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# OS / Editor
.vscode/
.DS_Store

# Datasets
projects/01_machine_learning/data/raw/*.csv

# Environments
.venv/
__pycache__/
*.pyc

# Data and models
data/
models/
*/data/
*/models/

# Jupyter
.ipynb_checkpoints/
