# ======================
# Python
# ======================
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# ======================
# Node / Frontend
# ======================
node_modules/
dist/
build/
.vite/

# ======================
# Jupyter
# ======================
.ipynb_checkpoints/

# ======================
# IDE / OS
# ======================
.vscode/
.DS_Store
Thumbs.db
.idea/

# ======================
# Environment variables
# ======================
.env
.env.*

# ======================
# Data & ML artifacts
# ======================
data/
datasets/
models/
checkpoints/
outputs/
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore data/models inside any project
*/data/
*/datasets/
*/models/
*/checkpoints/
*/outputs/
*projects/computer-vision-quality-inspection/experiments/predictions/



# ======================
# Hugging Face / Transformers
# ======================
.cache/
huggingface/
hf_cache/

# ======================
# Docker
# ======================
*.log

# ======================
# Misc
# ======================
*.tmp
*.swp

# ======================
# Allow data structure for RAG project
# ======================
!projects/sms-spam-classification-deep-learning/data/
!projects/sms-spam-classification-deep-learning/data/raw/
!projects/sms-spam-classification-deep-learning/data/raw/.gitkeep

# ======================
# FAISS / data
# ======================
faiss_index/
data/

# ======================
# RAG Enterprise Assistant - allow PDFs
# ======================
!projects/rag-enterprise-assistant/data/
!projects/rag-enterprise-assistant/data/pdfs/
!projects/rag-enterprise-assistant/data/pdfs/*.pdf

# Still ignore FAISS index
projects/rag-enterprise-assistant/data/faiss_index/