# ======================
# Python
# ======================
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# ======================
# Jupyter
# ======================
.ipynb_checkpoints/

# ======================
# IDE / OS
# ======================
.vscode/
.DS_Store

# ======================
# Environment variables
# ======================
.env
.env.*

# ======================
# Data & ML artifacts
# ======================
data/
datasets/
models/
checkpoints/
outputs/
logs/

# Ignore data/models inside any project
*/data/
*/datasets/
*/models/
*/checkpoints/
*/outputs/
*/projects/04_intel_image_classification/experiments/predictions/



# ======================
# Hugging Face / Transformers
# ======================
.cache/
huggingface/
hf_cache/

# ======================
# Docker
# ======================
*.log

# ======================
# Misc
# ======================
*.tmp
*.swp
